<div class="d-flex flex-column">
  <h2>MOSTRAR USUARIOS DE GENERO {{ nombreGeneroToTemplate }}</h2>
  <hr />
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Tipo Documento</th>
        <th scope="col">Numero Documento</th>
        <th scope="col">Genero</th>
        <th scope="col">Area</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let users of usuarios">
        <th scope="row">{{ users.id }}</th>
        <td>{{ users.nombre }}</td>
        <td>{{ users.apellido }}</td>
        <td>{{ users.usuarioEnum }}</td>
        <td>{{ users.numeroDocumento }}</td>
        <td>{{ users.generoEnum }}</td>
        <td>{{ users.areaEnum }}</td>
      </tr>
    </tbody>
  </table>

  <!--
  <div *ngIf="mensajeEliminado" class="card bg-danger text-white text-center">
    usuario eliminado
  </div>
  -->
</div>
